/bootstrap/compiled.php
composer.phar
composer.lock
.DS_Store
Thumbs.db
.idea
/public/assets
!/public/assets.gitkeep
/vendor
/node_modules
/public/app
!/public/app/.gitkeep
npm-debug.log
/public/app/views-dist/layouts/
!/public/app/views-dist/layouts/.gitkeep
