/bootstrap/compiled.php
composer.phar
composer.lock
.DS_Store
Thumbs.db
.idea
/vendor
/node_modules
npm-debug.log

/app/views-dist/layouts/
!/public/app/views-dist/layouts/.gitkeep

/public/bower/
/public/dist/
/public/lib/
